<div class="grid grid-cols-1 md:grid-cols-4 gap-6 p-6">
    {% for product in category_products %}
    <div
        class="w-full overflow-hidden bg-white rounded-xl transform transition-all duration-500 hover:shadow-lg hover:scale-105 relative group"
    >
        <a href="{% url 'shop:product_detail' product.category.slug product.slug %}">
            <div class="p-6 relative z-10">
                <p class="text-xl font-semibold text-gray-800">{{ product.name }}</p>
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-44 object-cover">
                <p class="mt-2 text-gray-600">
                    {{ product.description|truncatewords:10 }}
                </p>
                <div class="flex items-center mt-4 text-gray-600">
                    <span class="ml-2">{{ product.price }}</span>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
