# Auto detect text files and perform LF normalization
* text=auto

# Force Linguist to treat .py files as detectable
*.py linguist-detectable=true
*.js linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false