# Auto detect text files and perform LF normalization
* text=auto

# Ignoruj wszystkie pliki w folderze staticfiles/admin
staticfiles/admin/* linguist-documentation

# Ustaw pliki JS w staticfiles/js jako JavaScript
staticfiles/js/* linguist-language=JavaScript

# Ustaw pliki Pythona jako główny język
*.py linguist-language=Python
