# Auto detect text files and perform LF normalization
* text=auto

# Ignore libraries and static files for language stats
node_modules/* linguist-vendored
staticfiles/* linguist-vendored

# Force Linguist to treat .py files as detectable
*.py linguist-detectable=true
*.js linguist-detectable=false
*.css linguist-detectable=false