{% extends 'account/base-verification.html' %}
{% load tailwind_filters %}
{% block title %}{% endblock %}

{% block content %}
    <div class="bg-white shadow-md rounded-xl p-10 w-full max-w-lg">
        <h4 class="text-2xl font-bold text-center mb-6">Enter new password</h4>
        <hr class="mb-6">
        <p class="text-center text-gray-700 text-lg mb-8">
            Please enter your new password twice so that we can verify that you typed it in correctly.
        </p>


        <form method="POST">
            {% csrf_token %}   
            <div class="p-6">
                {{ form|crispy }} 
            </div> 
            <input class="w-full mt-6 px-7 py-4 bg-green-600 hover:bg-green-800 rounded-xl text-white" type="submit">
        </form>
    </div>
{% endblock %}