{% extends 'account/base-verification.html' %}
{% load tailwind_filters %}

{% block title %}{% endblock %}

{% block content %}

    <div class="bg-white shadow-md rounded-xl p-10 w-full max-w-lg">
        <h4 class="text-2xl font-bold text-center mb-6">Password reset</h4>
        <hr class="mb-6">
        <p class="text-center text-gray-700 text-lg mb-8">
            Forgotten your password?

            Please enter in your email adress below, and we'll email you instructions for setting a new one.
        </p>

        <div class="container">
            <form method="POST">
                {% csrf_token %}   
                {{ form|crispy }} 
                <input class="w-full mt-6 px-7 py-4 bg-green-600 hover:bg-green-800 rounded-xl text-white" type="submit">
            </form>
        </div>

    </div>
{% endblock %}