{% extends 'core/base.html' %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}



<div class="container mx-auto p-10">
    <div class="flex flex-col md:flex-row bg-white rounded-lg shadow-md overflow-hidden">
        <div class="w-full md:w-1/2 p-4 flex items-center justify-center bg-white">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>

        <div class="w-full md:w-1/2 p-6">
            <h1 class="text-3xl font-semibold mb-4">{{ product.name }}</h1>
            <h1 class="text-2xl mb-4 text-gray-500 italic ">${{ product.price }}</h1>

            <div class="flex space-x-4 mb-4">
                <div class="flex items-end">
                    <form action="{% url 'cart:cart_add' product.id %}" method="post" id="add-to-cart-form">
                        {% csrf_token %}
                        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
                            Add to Cart
                        </button>
                    </form>
                </div>
                <p id="message"></p>
            </div>

            {% if product.description %}
                <p class="text-gray-600 mb-6">
                    {{ product.description }}
                </p>
            {% endif %}
        </div>
    </div>
   


    <div class="container mx-auto p-4 mt-10">
        <div class="w-full">
            <h1 class="text-3xl mb-4 font-semibold">More products with this category:</h1>
            {% include 'shop/partials/category_products.html' with category_products=category_products %}
        </div>
        <a href="{% url 'shop:product_list_by_category' category_slug=product.category.slug %}" class="justify-items-center px-6 py-3 bg-blue-700 hover:bg-blue-800 rounded-xl text-white">More...</a>
    </div>



    <div>
        <h2 class="text-2xl font-bold mb-4 mt-8">Reviews</h2>
        {% if product.reviews %}
        <div class="grid grid-cols-5 gap-6">
            {% for review in product.reviews %}
                <div class="bg-gray-100 rounded-md p-4 shadow-md">
                    <strong>{{ review.user.name }}</strong>
                    <p>Rating: {{ review.rating }}/5</p>
                    
                    <div class="overflow-hidden max-h-24">
                        <p class="overflow-y-auto">{{ review.comment }}</p>
                    </div>
                    
                    <p class="text-gray-500 text-sm">{{ review.created_at|date:"F j, Y, g:i a" }}</p>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No reviews yet. Be the first to review this product!</p>
        {% endif %}
    </div>
    
    {% if user.is_authenticated %}      
        <form method="POST" action="{% url 'shop:add_review' product.id %}" class="mt-6">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
                Write a Review
            </button>
        </form>
    {% else %}
        <p class="mt-6">You need to <a href="{% url 'account:login-view' %}" class="text-blue-500">log in</a> to write a review.</p>
    {% endif %}
    
    
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/cart/addToCart.js' %}"></script>
{% endblock %}